.container{
    background-color: #fbf5f1;
    padding: 5em 2em 1em 2em;
    margin-top: 1.5em;
    gap: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heading{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.heading h2{
    font-family: 'B612', sans-serif;
    font-size: 22px;
    color: #333;
}
.heading p{
    font-family: 'DM Sans' ,sans-serif;
    font-size: 14px;
}

.services{
    padding: 1em 0em;
}

.serviceHeadings{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.serviceHeadings h3{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    margin-top: 1em ;
}
.serviceHeadings p{
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    line-height: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.serviceImg{
    width: 20%;
}

.gridContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
}

.trustedbyWrapper{
    background-color: red;
}
.reviews{
    font-family: 'B612',sans-serif;
    color: #333;
    font-weight: lighter;
    font-size: 16px;
    width: 95%;
    padding-top: 2em;
    line-height: 2;
    margin: 0 auto;
    text-align: left;
}
.author{
    text-align: left;
    font-family: 'DM Sans',sans-serif;
    font-size: 14px;
    padding-top: 1em;
    margin: 0 auto;
    line-height: 2;
    color: grey;
    width: 95%;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 4em 0 0 0;
}
@media only screen and (min-width:768px){
    .heading h2{
        font-size: 38px;
    }

    .heading p{
        width: 80%;
        margin: 0 auto;
        font-size: 16px;
        line-height: 2;
    }
    .container{
        padding-bottom: 5em;
    }
    .gridItem{
        display: flex;
    }
    .reviews{
        font-size: 28px;
        width: 60%;

    }
    .author{
        width: 60%;
    }
    .box{
        flex-direction: column;
        padding: 6em 0 0 0;
    }
}