.container{
    background-color: #fbf5f1;
    padding: 5em 3em 1em 3em;
    margin-top: 1.5em;
    gap: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heading{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.heading h2{
    font-family: 'B612', sans-serif;
    font-size: 22px;
    color: #333;
}
.heading p{
    font-family: 'DM Sans' ,sans-serif;
    font-size: 14px;
}

.services{
    padding: 1em 0em;
}

.serviceHeadings{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.serviceHeadings h3{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    margin-top: 1em ;
}
.serviceHeadings p{
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    line-height: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.serviceImg{
    width: 20%;
}

.gridContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
}

.partners{
    margin-top: 4em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    /* margin: 0em auto; */
}

@media only screen and (min-width:768px){
    .heading h2{
        font-size: 38px;
    }

    .heading p{
        width: 80%;
        margin: 0 auto;
        font-size: 16px;
        line-height: 2;
    }
    .container{
        padding-bottom: 5em;
    }
    .gridItem{
        display: flex;
    }
}