.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    background-color: #fff;
}
.hamburger{
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 1.2em;
}
.logo{
    font-family: 'DM Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-weight: bolder;
}

.hamburger p{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #0a8080;
}

.hamIcon, .logoIcon{ 
    display: block;
    font-size: larger;
}

.navlinks{
    display: none;
}

@media only screen and (min-width:768px){
    .container{
        padding: 2em 7em;
    }
    .logo p{
        font-size: 24px;
    }
    .hamIcon{
        display: none;
    }

    .logoIcon{
        font-size: 24px;
    }
    .navlinks{
        display: block;

    }

    .navlinks ul{
        display: flex;
        gap: 2em;
    }
    .navlinks ul li{
        cursor: pointer;
    }
}