.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5em 3em 1em 3em;
}

.heading{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.heading h3{
    font-family: 'B612',sans-serif;
    font-size: 22px;
    color: #333;
}

.heading p{
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}

.teamMembers{
    padding-top: 2em;
}

.developersName h4{
    font-family: 'B612', sans-serif;
}
.developersName p{
    font-family: "DM Sans", sans-serif;
}

@media only screen and (min-width:768px){
    .heading h3{
        font-size: 38px;
        width: 80%;
        margin: 0 auto;
    }

    .heading p{
        font-size: 16px;
        width: 50%;
        margin: 0 auto;
        line-height: 2;
    }
    .developersProfiles{
        width: 50%;
    }
}